:root {
  --body-bg: var(--bs-light);
  --body-color: var(--bs-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: var(--bs-dark);
    --body-color: var(--bs-gray-100);
    --primary-color: var(--bs-info);
    --primary-color-hover: #31d2f2;
    --focus-ring: rgb(13 202 240 / 50%) 0px 0px 0px 0.2rem;
  }

  a {
    color: var(--primary-color);
  }

  a:hover {
    color: var(--primary-color-hover);
  }

  .card,
  .list-group-item,
  .modal-content {
    background-color: var(--bs-gray-800);
    color: var(--body-color);
    border-color: var(--bs-gray-700);
  }

  .modal-header {
    border-color: var(--bs-gray-700);
  }

  .btn,
  .btn:hover {
    color: var(--body-color);
  }

  .btn.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--bs-dark);
  }

  .btn.btn-primary:hover,
  .btn.btn-primary:focus {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
    color: var(--bs-dark);
  }

  .form-check-input {
    background-color: var(--bs-gray-400);
  }

  .form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  .form-control,
  .form-control:focus {
    background-color: var(--bs-gray-800);
    border-color: #51555c;
    color: var(--body-color);
  }

  .form-control::placeholder {
    color: rgba(173, 181, 189, 0.8);
  }

  .btn:focus,
  .form-control:focus,
  .form-check-input:focus {
    box-shadow: var(--focus-ring);
  }

  .text-danger {
    color: #e05260 !important;
  }
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}
